.welcome-item {
  background: white;
  border-radius: 16px;
  padding: 1em;
  grid-column: 1 / 4;
  grid-row:1/2;
  height: 100%;
}

.tinker-news-item {
	background: white;
	border-radius: 16px;
	padding: 1em;
	grid-column: 4 / 6;
	grid-row:1/2;
	height: 100%;
}

.projects-list {
	background: white;
	border-radius: 16px;
	padding: 1em;
	grid-column: 1 / 6;
	grid-row:2/3;
	height: 100%;
}

.dashboardcontainer {
	margin-top: 7em;
	font-family: 'Poppins', sans-serif;
	/* color: #282c34; */
	color: #181C3F;
	/* font-style: italic; */
	font-weight: 300;
  font-size: 1em;
  min-height: 30em;
  width: 100%;
  /* background: LightGray; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-rows: repeat(2, minmax(21em, 1fr));
  grid-gap: 1.3em;
  /* align-items: center; */
}


/* title */

.red-title {
	color: #F5514C;
	font-weight: 300;
	font-size: 1.5em;
	margin-top: 0.5em;
	flex-grow: 1;
	margin-bottom:0.5em;
}

/* image */

.tinkercart-img-position {
	/* position:absolute; */
	right: 47em;
}

.title-tinkercart-image {
	display:flex;
	align-content: space-around;
}

/* Welcome component */

.welcomecontainer {
	/* margin-top: 7em; */
	/* font-family: 'Poppins', sans-serif; */
	/* color: #282c34; */
	/* color: #181C3F; */
	/* font-style: italic; */
	/* font-weight: 300; */
  /* font-size: 1em; */
  /* min-height: 30em; */
  width: 100%;
  /* background: LightGray; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  /* align-items: center; */
}

.welcomelist {
  width: 100%;
  display: flex;
  /* align-items: center; */
}

.welcomelistitem {
	height: 100%;
	align-self: center;
	margin: 1em;
	padding: 1em;
	border-bottom: 5px solid red;
}

.tinkernewslist-scroll {
	height: 200px;
	overflow-y: scroll;
	margin-top: 1.8em;
	padding: 1.5em;
	padding-top: 0;
}

.tinkernewsitem-title {
	margin-bottom: 0.2em;
	font-weight: 600;
	font-size: 1.1em
}

.tinkernewsitem-description {
	margin-bottom: 1.3em;
	font-weight: 200;
}